<div data-controller="to-do-list">
  <input type="text" data-to-do-list-target="input" placeholder="Add new title">
  <button data-action="click->to-do-list#addNewItem">Add Title</button>
  <ul data-to-do-list-target="items">
    <% @todo_items.each do |item| %>
      <li class="<%= 'checked-item' if item.checked %>">
        <%= check_box_tag "checked_#{item.id}", 'checked', item.checked, data: { action: "change->to-do-list#toggleChecked", id: item.id } %>
        <%= label_tag "checked_#{item.id}", item.title, class: "item-label", data: { to_do_list_target: "label" } %>
      </li>
    <% end %>
  </ul>
</div>
