<div data-controller="to-do-list">
  <input type="text" data-to-do-list-target="input" placeholder="Add new title">
  <button data-action="click->to-do-list#addNewItem">Add Title</button>
  <ul data-to-do-list-target="items">
    <% @todo_items.each do |item| %>
      <li><%= item.title %></li>
    <% end %>
  </ul>
</div>
